
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    font-family: 'Poppins', sans-serif;
}

.navbar {
    isolation: isolate;
}
.svg-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.svg-wrapper svg {
    position: absolute;
    inset: 0;
    z-index: -1;
}
#landing {
    padding-bottom: 50px;
}
.container {
    width: 80%;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: max-content;
    z-index: -1;
    margin-bottom: 30px;
}
.container h1 {
    font-family: 'Inconsolata', monospace;
    text-transform: capitalize;
    text-align: center;
    margin: auto;
    letter-spacing: 0.05rem;
    line-height: 125%;
    word-spacing: 9999rem;
}

/* Uppgift css */

.container-uppgift {
    width: 80%;
    height: 80vh;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.lista-uppgift {
    background: #C1A1A1;
    border-radius: 15px;
}

/*Om CSS*/

.container-om {
    width: 80%;
    height: 80vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.textruta-om {
    background: #C1A1A1;
    border-radius: 5px;
    padding: 1%;
    margin: auto;
    width: 60%;
    height: 60%;
}


@media only screen and (min-width: 768px) {
    .container-fluid {
        padding-top: 1rem;
    }
}
@media only screen and (min-width: 1024px) {
    #landing {
        padding-top: calc(4vw*2.5 - 35px);
    }
    #landing .container {
        flex-direction: row;
        
    }
    .container-fluid {
        padding-top: 2rem;
    }
    .container h1 {
        word-spacing: normal;
    }
}