
*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body { 
    font-family: 'Poppins', sans-serif;
}

.navbar {
    isolation: isolate;
}
.svg-wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.svg-wrapper svg {
    position: absolute;
    inset: 0;
    z-index: -1;
}
#landing {
}
.container {
    width:80%;
    height: 80vh;
    margin: auto;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
}
.container img {
    margin: 0 auto;
    display: block;
    width: 100%;
    height: max-content;
    z-index: -1;
    margin-bottom: 30px;
}
.container h1 {
    font-family: 'Inconsolata', monospace;
    text-transform: capitalize;
    text-align: center;
    letter-spacing: 0.05rem;
    line-height: 125%;
    word-spacing: 9999rem;
}



@media only screen and (min-width: 768px) {
    #landing {
        padding-top: 4%;
    }
}
@media only screen and (min-width: 1024px) {
    #landing {
        padding-top: calc(4vw*2.5 - 30px);
    }
    #landing .container {
        flex-direction: row;
        
    }
    .container h1 {
        word-spacing: normal;
    }
}